a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding: 0;
}
*img {display:block;}
ul,ol{
 margin:0;
 padding:0;
}
p{margin:0;
padding: 0;}
body {font-family:'Roboto', sans-serif;}
button {border:none ;}
.container{
  width: 1200px;
  padding-left: 15px;
  padding-right:15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
  align-items: center;
}
/* шапка */
.header { 
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ECECEC
}
.logo {font-family: 'Raleway', sans-serif;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color:#2196F3;
margin-right: 93px;}
.header-studio {color: #212121;}
.footer-studio {color: #FFFFFF;}
.site-naw a {
#212121
}
.site-naw {display: flex;
align-items: center;}
.site-naw-li:not( last child){
  margin-right: 50px;
}
.contact-li:not(:last-child){
margin-right: 50px;
}
.site-naw a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;}
.site-naw a:hover,
.site-naw a:focus {
  color: #2196f3;
}
.contact{display: flex;
align-items: center;
margin-left: auto;}
.contact a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}
.contact a:hover,
.contact a:focus {
  color: #2196f3;
}
/* меню */
.herou {
  text-align: center;
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  }

h1 {
font-family:'Roboto', sans-serif;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 30px;
}
.button {
font-family:'Roboto', sans-serif;
font-weight: bold;
font-size: 16px;
line-height:1.88;
display: block
align-items: center;
letter-spacing: 0.06em;
color: #ffffff;
background-color: #2196f3;
cursor: pointer;
padding: 10px 32px;
border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.arguments-li{min-width: 270px;}
.arguments-li:not(:last-child){
  margin-right: 30px;
  
}
.arguments {display: flex;
  align-items: center;
}
.arguments h4 {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#212121;
margin-bottom: 10px;
}
.arguments p {
font-weight: normal;
font-size: 14px;
line-height:1.71;
letter-spacing: 0.03em;
color: #757575;
}
.section-padding{
  padding-top: 0;
}
h2 {
font-weight: bold;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
   }
.img-ul{display: flex;
align-items: center;}
.img-li:not(:last-child){
  margin-right: 30px;
}
.team{
  display: flex;
  align-items: center;
}
.section-team {background-color: #F5F4FA;}
.team-li:not(:last-child){
  margin-right: 30px;
}
.team-li img {
  margin-bottom: 30px;
}
.team h3 {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 10px;
}
.team p {
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color:#757575;
margin-bottom: 30px;
}

/* подвал */

.footer-studio {color: #FFFFFF;}
.physical-addres  {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.addres-li:not(:last-child){
  margin-bottom: 9px;
}
.addres-li:first-child {
  margin-top: 20px;
}
.footer-contact {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer {background-color:  #2F303A;
padding-top: 60px;
padding-bottom: 60px;}
/* портфолио */
.li-button-portfolio :hover,
.button-portfolio  :focus {
  background-color:#2196F3;
  color: #FFFFFF;
}
.button-portfolio-ul {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}
.button-portfolio {
  padding: 6px 22px;
  font-family:'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.6;
  
  letter-spacing: 0.03em;
  cursor: pointer;
  
}
.button-portfolio-ul :not(:last-child){
  margin-right: 8px;
}
.li-button-portfolio {
  text-align: center;
}
h3 {
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-top: 20px;
margin-bottom: 4px;
}
.main {
  display: flex;
  flex-wrap: wrap;
}
.main p {
font-weight: normal;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 20px;
}

.main-li:not(:nth-child(n+7)){
  margin-bottom: 30px;
}
.main-li:not(:nth-child(3n+0)){
  margin-right: 30px;
}
.main-h-p{
  padding: 20px 24px;
  border: 1px solid #EEEEEE}
